<div class="col-sm-8 col-sm-offset-2">
  <form [formGroup]="randoForm" (ngSubmit)="onSubmitForm()">
    <div class="form-group">
      <label for="users"> Nom de l'organisateur</label>
      <select id="users" class="form-control" formControlName="users">
          <option [value]="user.id" *ngFor="let user of users">{{user.name }} {{user.firstName}}</option>
      </select>


      <label for="name"> Nom de la randonnée</label>
      <input type="text" class="form-control" id="name" formControlName="name">
    </div>

    <div class="form-group">
      <label for="ville">ville</label>
      <input type="text" class="form-control" id="ville" formControlName="ville">
    </div>

    <div class="form-group">
      <label for="description">description</label>
      <input type="text" class="form-control" id="description" formControlName="description">
    </div>

    <div class="form-group">
      <label for="latitude">lattitude</label>
      <input type="text" class="form-control" id="latitude" formControlName="latitude">
    </div>

    <div class="form-group">
      <label for="longitude">longitude</label>
      <input type="text" class="form-control" id="longitude" formControlName="longitude">
    </div>

    <div class="form-group">
      <label for="heureDepart">heure de Depart</label>
      <input type="text" class="form-control" id="heureDepart" formControlName="heureDepart">
    </div>

    <div class="form-group">
      <label for="dateDepart">date Depart</label>
      <input type="text" class="form-control" id="dateDepart" formControlName="dateDepart">
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="randoForm.invalid">Soumettre</button>
  </form>
</div>
