<div class="container">
  <div class="cadreAdmin">
    <div class="row">
      <h1 style="margin-bottom: 3%; text-align: center; color: white;" >Interface administrateur</h1>
      <div class="login-wrap">
        <div class="login-html">
          <input class="admin" type="button" routerLink="../user" value="Gerer les utilisateurs">
          <input class="admin" type="button" routerLink="../rando" value="Ajout/Modif/Supression de randonnées">
        </div>
      </div>
    </div>
  </div>
</div>

