<div class="container">
  <div class="cadreAdmin">
    <div class="row">
      <h2 style="margin-bottom: 3%; text-align: center; color: white;">Modification d'un compte utilisateur</h2>
    </div>
    <div class="user-form">
      <form method="post">

        <fieldset>
          <legend>Modification d'un profil</legend>

          <label for="id">id</label>
          <input type="number" name="id" id="id" required/><br>

          <label for="nom">Nom</label>
          <input type="text" name="nom" id="nom" required/><br>

          <label for="prenom">Prénom</label>
          <input type="text" name="prenom" id="prenom" required/><br>

          <label for="email">Adresse mail</label>
          <input type="email" name="email" id="email" required/><br>

          <label for="password">Mot de passe</label>
          <input type="password" name="password" id="password" required/><br>

          <div class="group">
            <input type="submit" class="button" style="background-color: rgba(141,91,67,0.69); margin: auto;"
                   value="Valider" onclick="hidePopup();">
          </div>

        </fieldset>
      </form>
    </div>
  </div>
</div>

