.cadre{
  height: 700px;
  width: 30%;
  border:4px solid #BF9E7F;
  padding:10px;
  margin-left: 0.5em;
  margin-top: -50em;
  float: right;
  margin-right: 10em;
}

.img-fond{
  background-image: url("../../dl.jpg");
  background-size: 100%;
}
